.body {
    margin: 0;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}
body * {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.tel {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}
.logo {
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}
.header {
    background-color: #131313;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.header-navigation {
    list-style: none;
    display: flex;
    margin: 0;
}
.header-navigation_item {
    margin-right: 47.09px;
}
.header-navigation_link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;
}
/* .header-navigation_link:nth-child(1) {
    color: #E3B873;
} */
.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.hero-container {
    position: relative;
    z-index: 1;
}
.title {
    margin: 0;
    font-family: Yeseva One, Times New Roman, Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-color {
    color: #E3B873;
}
.paragraf {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.hero_1 {
    padding: 20px 41px;
}
.hero_2 {
    padding: 20px 22px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
}
.section {
    height: 1074px;
    background-color: #131313;
}
.best-container {
    padding-top: 107px;
}
.best-ul {
    margin-left: 538px;
}
.best-li {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 60.5px;
    padding-top: 107px;
}
.sub-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.best-sub-container {
    margin-top: 69.36px;
    display: flex;
}
.best-paragraf {
    font-size: 14px;
    line-height: 27px;
}
.img {
    margin-left: 143px;
}